* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e1e1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
